.hero {
	overflow: hidden;
	width: 400px;
	height: 500px;
	margin: 30px;
	display: inline-block;
	background: white;
	padding-bottom: 15px;
	border: 0px;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hero h2 {
	font-weight: bold;
	font-size: 36px;
	color: Black;
}

.hero img {
	min-width: 400px;
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}


@media all and (max-width: 1000px)  {
	.hero {
		width: 200%;
		margin: 15px auto;
	}

	.hero img {
		width: 100%;
		min-width: auto;
		height: auto;
	}

	.hero .picture {
		width: 100%;
		height: auto;
	}
}