body {
  margin: 0;
  font-family: 'Marvel', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	display: flex;
	height: 100vh;
	background-color: #F0131E;
}

.hero {
	overflow: hidden;
	width: 400px;
	max-height: 500px;
	margin: 30px;
	display: inline-block;
	background: white;
	padding-bottom: 15px;
	border: 0px;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hero h2 {
	font-weight: bold;
	font-size: 36px;
	color: Black;
}

.hero img {
	min-width: 400px;
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}

.hero-picture {
	float: right;
	width: 50%;
	margin: 0 0 10px 15px !important;
}

.marvel-link {
	text-decoration: none;
	text-align: center;
	min-width: 80px;
	margin: 5px;
	border: 1px solid white;
	border-radius: 25px;
	padding: 10px;
	color: white;
}

@media all and (max-width: 1000px)  {
	.hero {
		margin: 15px auto;
	}

	.hero img {
		width: 100%;
		min-width: auto;
		height: auto;
	}

	.hero .picture {
		width: 100%;
		height: auto;
	}

	.hero-picture {
		width: 100%;
		margin: 0 0 10px 0 !important;
	}

	.marvel-link {
		width: 100%
	}
}